*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#root{
  height: 100vh;
}

.m-y-5 {
  margin: 5px 0px;
}

.m-5{
  margin: 5px;
}

::-webkit-scrollbar {
  width: 7px!important;    
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #817c7c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}